services/automation/postiz-stack/workflows/workflow_a_cron_generator.json
{
  "name": "Workflow A - Weekly Generator + Approval Pause",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": [
                "sunday"
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron_weekly",
      "name": "Weekly Sunday 08:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.3,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://openapi.etsy.com/v3/application/shops/{{$env.ETSY_SHOP_ID}}/listings/active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ETSY_CLIENT_ID}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "etsy_active_listings",
      "name": "Fetch Etsy Active Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_N8N_CREDENTIAL_ID",
          "name": "Etsy Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst listings = input.results || [];\nconst listing = listings[0] || input;\nconst summary = {\n  title: listing.title || '',\n  description: (listing.description || '').slice(0, 300),\n  price: listing.price,\n  tags: (listing.tags || []).slice(0, 10),\n};\nconst body = JSON.stringify({\n  model: 'qwen2.5:1.5b',\n  stream: false,\n  prompt: 'You are a social media copywriter. Write a single punchy Instagram caption (under 150 words) for this Etsy listing: ' + JSON.stringify(summary)\n});\nreturn [{ json: { ollamaBody: body } }];"
      },
      "id": "prepare_ollama_body",
      "name": "Prepare Ollama Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json.ollamaBody}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ollama_generate",
      "name": "Generate Content via Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approval_state",
              "name": "approval_state",
              "type": "string",
              "value": "PENDING_APPROVAL"
            },
            {
              "id": "generated_caption",
              "name": "generated_caption",
              "type": "string",
              "value": "={{$json.response || $json.text || 'Generated draft unavailable'}}"
            },
            {
              "id": "resume_url",
              "name": "resume_url",
              "type": "string",
              "value": "={{$execution.resumeUrl}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set_pending",
      "name": "Set Pending Approval + Resume URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_APPROVAL_CHAT_ID}}",
        "text": "=New content draft is ready for review.\\n\\nState: {{$json.approval_state}}\\n\\nCaption: {{$json.generated_caption}}\\n\\nApprove here: {{$json.resume_url}}",
        "additionalFields": {
          "appendAttribution": false,
          "replyMarkup": "={\"inline_keyboard\":[[{\"text\":\"Approve & Continue\",\"url\":\"\" + $json.resume_url + \"\"}]]}"
        }
      },
      "id": "telegram_notify",
      "name": "Send Telegram Approval Button",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1480,
        280
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_N8N_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "ignoreBots": false
        }
      },
      "id": "wait_for_approval",
      "name": "Wait For Webhook Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1740,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approval_result",
              "name": "approval_result",
              "type": "string",
              "value": "={{$json.query.approved || 'approved'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "approval_captured",
      "name": "Capture Approval Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2010,
        280
      ]
    }
  ],
  "connections": {
    "Weekly Sunday 08:00": {
      "main": [
        [
          {
            "node": "Fetch Etsy Active Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Etsy Active Listings": {
      "main": [
        [
          {
            "node": "Prepare Ollama Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ollama Body": {
      "main": [
        [
          {
            "node": "Generate Content via Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content via Ollama": {
      "main": [
        [
          {
            "node": "Set Pending Approval + Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pending Approval + Resume URL": {
      "main": [
        [
          {
            "node": "Send Telegram Approval Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Approval Button": {
      "main": [
        [
          {
            "node": "Wait For Webhook Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Webhook Approval": {
      "main": [
        [
          {
            "node": "Capture Approval Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "notes": "Decoupled trigger workflow. This flow intentionally stops at approval capture and hands off to Workflow B listener/scheduler."
  },
  "tags": [
    {
      "name": "postiz"
    },
    {
      "name": "approval"
    }
  ]
}
